<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.contestTeam.mapper.ContestTeamMapper">
    
    <resultMap type="ContestTeam" id="ContestTeamResult">
        <result property="id"    column="id"    />
        <result property="contestId"    column="contest_id"    />
        <result property="teamName"    column="team_name"    />
        <result property="members"    column="members"    />
        <result property="leader"    column="leader"    />
        <result property="contact"    column="contact"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectContestTeamVo">
        select id, contest_id, team_name, members, leader, contact, remark, create_time, update_time from contest_team
    </sql>

    <select id="selectContestTeamList" parameterType="ContestTeam" resultMap="ContestTeamResult">
        <include refid="selectContestTeamVo"/>
        <where>  
            <if test="contestId != null "> and contest_id = #{contestId}</if>
            <if test="teamName != null  and teamName != ''"> and team_name like concat('%', #{teamName}, '%')</if>
            <if test="members != null  and members != ''"> and members = #{members}</if>
            <if test="leader != null  and leader != ''"> and leader = #{leader}</if>
            <if test="contact != null  and contact != ''"> and contact = #{contact}</if>
        </where>
    </select>
    
    <select id="selectContestTeamById" parameterType="Long" resultMap="ContestTeamResult">
        <include refid="selectContestTeamVo"/>
        where id = #{id}
    </select>

    <insert id="insertContestTeam" parameterType="ContestTeam" useGeneratedKeys="true" keyProperty="id">
        insert into contest_team
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contestId != null">contest_id,</if>
            <if test="teamName != null and teamName != ''">team_name,</if>
            <if test="members != null">members,</if>
            <if test="leader != null">leader,</if>
            <if test="contact != null">contact,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contestId != null">#{contestId},</if>
            <if test="teamName != null and teamName != ''">#{teamName},</if>
            <if test="members != null">#{members},</if>
            <if test="leader != null">#{leader},</if>
            <if test="contact != null">#{contact},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateContestTeam" parameterType="ContestTeam">
        update contest_team
        <trim prefix="SET" suffixOverrides=",">
            <if test="contestId != null">contest_id = #{contestId},</if>
            <if test="teamName != null and teamName != ''">team_name = #{teamName},</if>
            <if test="members != null">members = #{members},</if>
            <if test="leader != null">leader = #{leader},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteContestTeamById" parameterType="Long">
        delete from contest_team where id = #{id}
    </delete>

    <delete id="deleteContestTeamByIds" parameterType="String">
        delete from contest_team where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>