<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.competition.mapper.ContestInfoMapper">
    
    <resultMap type="ContestInfo" id="ContestInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="organizer"    column="organizer"    />
        <result property="link"    column="link"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectContestInfoVo">
        select id, name, description, start_time, end_time, organizer, link, create_time, update_time from contest_info
    </sql>

    <select id="selectContestInfoList" parameterType="ContestInfo" resultMap="ContestInfoResult">
        <include refid="selectContestInfoVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="organizer != null  and organizer != ''"> and organizer = #{organizer}</if>
            <if test="link != null  and link != ''"> and link = #{link}</if>
        </where>
    </select>
    
    <select id="selectContestInfoById" parameterType="Long" resultMap="ContestInfoResult">
        <include refid="selectContestInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertContestInfo" parameterType="ContestInfo" useGeneratedKeys="true" keyProperty="id">
        insert into contest_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="description != null">description,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="organizer != null">organizer,</if>
            <if test="link != null">link,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="organizer != null">#{organizer},</if>
            <if test="link != null">#{link},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateContestInfo" parameterType="ContestInfo">
        update contest_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="organizer != null">organizer = #{organizer},</if>
            <if test="link != null">link = #{link},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteContestInfoById" parameterType="Long">
        delete from contest_info where id = #{id}
    </delete>

    <delete id="deleteContestInfoByIds" parameterType="String">
        delete from contest_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>